.mdl-card {
  z-index: auto !important;
}

.mdl-card__title {
  background-repeat: no-repeat !important;
}
a:link {
  text-decoration: none;
}
.mdl-card__supporting-text {
  height: 110px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
  color: aliceblue;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  width: 60%;
  overflow-y: auto;
  background-color: #171b22;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 40px;
}
