.header-color {
  background-color: #282c34;
  color: #27221f;
  display: block;
  height: 300px;
  position: relative;

  box-shadow: #282c34 0px -35px 80px 100px;
}

.mdl-layout__header.custom {
  background: #282c34;
  background: url(http://www.getmdl.io/assets/demos/transparent.jpg) center /
    cover;
  height: 300px;
  position: relative;

  z-index: 0;
  box-shadow: 0px -60px 50px 100px #282c34;
}
.blurry {
  background: #282c34;

  width: 100%;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: -25px;
  box-shadow: #282c34 0px -35px 80px 100px;
}
.mdl-layout__obfuscator.is-visible.is-visible {
  opacity: 0.5;
}
.mdl-layout__drawer.is-visible {
  background-color: rgb(179, 212, 252, 0);
  top: 4em;
  height: auto;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  position: relative;
  top: 0em;
  font-size: 20px;
  color: white !important;
  font-weight: bolder;
  text-align: left;
  left: 3em;
  width: 100px;
}
.mdl-layout__drawer {
  border-right: none !important;
  box-shadow: none !important;
  width: 100px;
  top: 3em;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px;
  width: 5em;
}
